<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >

  <targets>
    <target xsi:type="File"
            name="toErrorFile"
            
            fileName="${basedir}\App_Data\Logs\error.log"
            archiveFileName="${basedir}\App_Data\Logs\Archives\${shortdate}.{###}.error.log"
            
            encoding="utf-8"
            concurrentWrites="false"
            archiveAboveSize="1000000"
            maxArchiveFiles="1000"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            keepFileOpen="false" autoFlush="true"
            lineEnding="Default"
            createDirs="true"
            
            layout="${longdate} | ${windows-identity} | ${gc} | ${threadid} | ${level:uppercase=true} | ${logger} | ${message} | ${exception:format=Type,Message:separator= | } ${newline} ${exception:format=ToString,StackTrace:innerFormat=ToString,StackTrace:maxInnerExceptionLevel=5}" />

    <target xsi:type="File"
              name="toInfoFile"
            
              fileName="${basedir}\App_Data\Logs\info.log"
              archiveFileName="${basedir}\App_Data\Logs\Archives\${shortdate}.{###}.info.log"
            
              encoding="utf-8"
              concurrentWrites="false"
              archiveAboveSize="1000000"
              maxArchiveFiles="1000"
              archiveNumbering="Sequence"
              archiveEvery="Day"
              keepFileOpen="false" autoFlush="true"
              lineEnding="Default"
              createDirs="true"
            
              layout="${longdate} | ${windows-identity} | ${gc} | ${threadid} | ${level:uppercase=true} | ${logger} | ${message}" />
  </targets>

  <rules>
    <logger name="*" levels="Error, Fatal" writeTo="toErrorFile" />
    <logger name="*" levels="Debug, Warn, Info" writeTo="toInfoFile" />
  </rules>
</nlog>