<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net46" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net46" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net46" />
  <package id="MongoDB.Bson" version="2.2.3" targetFramework="net46" />
  <package id="MongoDB.Driver" version="2.2.3" targetFramework="net46" />
  <package id="MongoDB.Driver.Core" version="2.2.3" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net46" />
  <package id="NLog" version="4.2.3" targetFramework="net46" />
  <package id="NLog.Config" version="4.2.3" targetFramework="net46" />
  <package id="NLog.Schema" version="4.0.0" targetFramework="net46" />
  <package id="ServiceStack.Common" version="4.0.54" targetFramework="net46" />
  <package id="ServiceStack.Interfaces" version="4.0.54" targetFramework="net46" />
  <package id="ServiceStack.Redis" version="4.0.54" targetFramework="net46" />
  <package id="ServiceStack.Text" version="4.0.54" targetFramework="net46" />
  <package id="SimpleInjector" version="3.1.2" targetFramework="net46" />
  <package id="SimpleInjector.Integration.Web" version="3.1.2" targetFramework="net46" />
  <package id="SimpleInjector.Integration.Web.Mvc" version="3.1.2" targetFramework="net46" />
</packages>